.gallery-container {
  padding: 0 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 768px) {
  .gallery-container {
    padding: 0 7%;
    grid-template-columns: repeat(1, 1fr);
  }
}

.image {
  display: flex;
  place-content: center;
  padding: 10%;
}
.image > img {
  border-radius: 20px;
  margin: 1.5rem 0;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.25s ease-in-out;
}

.image > img:hover {
  transform: scale(1.25);
}

@media only screen and (max-width: 768px) {
  .image > img:hover {
    transform: scale(1.25);
  }
  .image {
    height: 200px;
    padding: 2%;
  }
}
