:root {
  --color-primary-300: #cbcbcb;
  --color-primary-600: #606060;
  --color-primary-900: #000000;

  --color-accent-300: #60a5fa;
  --color-accent-600: #2563eb;
  --color-accent-900: #1e3a8a;

  --color-base: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--color-accent-300);
}

ul {
  list-style-type: none;
}

i,
svg {
  color: var(--color-accent-600);
}

img {
  display: block;
}

.stop-scrolling {
  height: 100%;
  overflow-y: hidden;
}

.pc-only {
  display: block;
}
.mobile-only {
  display: none;
}

.inline-block {
  display: inline-block;
}

.shadow {
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1024px) {
  .pc-only {
    display: none;
  }
  .mobile-only {
    display: inline-block;
  }
}
@media only screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
}

/* Wave */
.custom-shape-divider-bottom-1686289319 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686289319 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 127px;
}

.custom-shape-divider-bottom-1686289319 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1686289319 svg {
    width: calc(177% + 1.3px);
    height: 30px;
  }
}

/* Wave 2 */
.custom-shape-divider-top-1686291581 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1686291581 svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  height: 85px;
}

.custom-shape-divider-top-1686291581 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1686291581 svg {
    width: calc(177% + 1.3px);
    height: 30px;
  }
}

/* Wave 3 */

.custom-shape-divider-top-1686374603 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1686374603 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 73px;
}

.custom-shape-divider-top-1686374603 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1686374603 svg {
    width: calc(108% + 1.3px);
    height: 22px;
  }
}
