.message {
  color: var(--color-accent-600);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.message-title {
  font-size: 1.75rem;
  position: absolute;
  margin: 0 0 0 60%;
  padding: 0 5%;
  z-index: 1;
}

.message-image img {
  filter: brightness(0.3);
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .message-title {
    font-size: 1.25rem;
    margin: 0 0 0 40%;
    padding: 0 1rem;
  }

  .message-image img {
    filter: brightness(0.3);
    width: 100%;
    aspect-ratio: 9/12;
  }
}

.btn {
  background: var(--color-accent-300);
  border-radius: 5px;
  color: var(--color-accent-900);
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 4rem;
  text-decoration: none;
  border: none;
  margin: auto;
  margin-right: 0;
}

.btn:hover {
  color: var(--color-primary-900);
  background: var(--color-accent-600);
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}
